@font-face {
    font-family: "Avenir Next";
    src: 'assets/Avenir Next.ttc';
}

html, body {
    margin: 0;
    font-family: "Avenir Next"
}

.roadmap-container {
    background-color: white;
    height: 2000px;
    margin: auto;
    width: 900px;
    display: flex;
    justify-content: center;
}

.roadmap-column {
    display: flex;
    flex-direction: column;
}

