@media (max-width: 768px) {
    .roadmap-container {
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
    }

    .roadmap-column {
        box-sizing: border-box;
        margin: auto;
    }

    .map-item {
        width: 90vw;
    }

    .item-title {
        margin-top: 10px;
    }

    .item-content {
        margin: auto;
    }

    .item-image {
        display: none;
    }

    .item-wide-text {
        max-width: 250px;
    }

    .bdg-github {
        display: none;
    }

    .roadmap-lines-column {
        display: none;
    }

    .vertical.mobile-only {
        display: block;
    }

    .roadmap-container {
        margin-top: 20px;
    }

    .map-item {
        margin-top: 10px;
    }
}

@media (max-width: 374px) {
    .map-item {
        width: 95vw;
        margin-top: 0px;
    }

    .roadmap-container {
        margin-top: 30px;
    }
    
    .body-with-columns {
        padding-left: 5px;
        padding-right: 5px;
    }

    .item-wide-text {
        padding: 0 30px;
    }

    .badge {
        text-align: center;
    }
}